/* Usager vérifié */
svg{
  position: absolute;
  width: 96px;
  height: 96px;
  left: 19px;
  top: 87px;
}
/* Empreinte */
svg{
  position: absolute;
  width: 87px;
  height: 96px;
  left: 221px;
  top: 87px;
}